{
  "extends": "google",
  "parserOptions": {
    "ecmaVersion": 5
  },
  "rules": {
    "max-len": ["error", {
      "code": 256,
      "tabWidth": 4,
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignoreRegExpLiterals": true
    }],
    "newline-after-var": ["error", "always"], // It's a pet-peeve ~ItsASine
    "require-jsdoc": 0,
    "no-var": 0
  }
}